@font-face {
    font-family: "BenderRegular";
    src: url("fonts/bender.regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BenderBold";
    src: url("fonts/bender.bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

.scav-back {
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.blended-border {
    border-color: #a5a5a5;
}

.btn-blended {
    background-color: #d49300 !important;
}

.blended {
    font-family: "BenderBold";
    src: url("fonts/bender.bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
    color: #a5a5a5;
}

.blended-reg-bg {
    font-family: "BenderRegular";
    font-size: 250%;
    src: url("./fonts/bender.regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
    color: #a5a5a5;
}

.blended-nav {
    color: #212529 !important;
    background-color: #d49300 !important;    
}

.blended-reg {
    font-family: "BenderRegular";
    src: url("./fonts/bender.regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
    color: #a5a5a5;
}

.legendary {
    color: darkorange;
}

.epic {
    color: darkorchid;
}

.uncommon {
    color: darkgreen;
}

.border-uncommon {
    border: 6px solid darkgreen;
    border-radius: 20px 20px 20px 20px;
}

.border-rare {
    border: 6px solid dodgerblue;
    border-radius: 20px 20px 20px 20px;
}

.border-epic {
    border: 6px solid darkorchid;
    border-radius: 20px 20px 20px 20px;
}

.border-legendary {
    border: 6px solid darkorange;
    border-radius: 20px 20px 20px 20px;
}
