@font-face {
    font-family: "BenderRegular";
    src: url("fonts/bender.regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

.blended {
    font-family: "BenderBold";
    src: url("fonts/bender.bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

.blended-reg-bg {
    font-family: "BenderRegular";
    font-size: 250%;
    src: url("./fonts/bender.regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

.blended-reg {
    font-family: "BenderRegular";
    src: url("./fonts/bender.regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

.legendary {
    color: darkorange;
}